<div class="w-content py-4">
	<div class="px-6 py-4 rounded-xl border-2 border-tertiary bg-gradient-to-r from-primary to-secondary flex items-center justify-between">
		<div class="flex items-center space-x-4">
			{% if request.path == '/dashboard/' %}
				<a href="{% url 'app:dashboard' %}" class="text-xl font-medium opacity-50">Dashboad</a>
				<div class="w-0.5 h-8 bg-tertiary"></div>
			{% else %}
				<a href="{% url 'app:dashboard' %}" class="text-xl font-medium">Dashboad</a>
				<div class="w-0.5 h-8 bg-tertiary"></div>
			{% endif %}

			<a href="#" class="text-xl font-medium">Charts</a>
			<div class="w-0.5 h-8 bg-tertiary"></div>

			{% if request.GET.role == 'artist' %}
				<a href="#" class="text-xl font-medium">Albums & Songs</a>
				<div class="w-0.5 h-8 bg-tertiary"></div>
			{% endif %}

			{% if request.GET.role == 'podcaster' %}
				<a href="#" class="text-xl font-medium">Podcasts</a>
				<div class="w-0.5 h-8 bg-tertiary"></div>
			{% endif %}

			{% if request.GET.role == 'label' %}
				<a href="#" class="text-xl font-medium">Albums</a>
				<div class="w-0.5 h-8 bg-tertiary"></div>
			{% endif %}

			{% if request.GET.role != 'artist' and request.GET.role != 'podcaster' and request.GET.role != 'label' %}
				{% if request.path|slice:':10' == '/playlists' %}
					<a href="{% url 'playlists:index' %}" class="text-xl font-medium opacity-50">Playlists</a>
					<div class="w-0.5 h-8 bg-tertiary"></div>
				{% else %}
					<a href="{% url 'playlists:index' %}" class="text-xl font-medium">Playlists</a>
					<div class="w-0.5 h-8 bg-tertiary"></div>
				{% endif %}
			{% endif %}

			{% if request.GET.role != 'label' %}
				{% if request.path == '/subscription/' %}
					<a href="{% url 'app:subscription' %}" class="text-xl font-medium opacity-50">Subscriptions</a>
					<div class="w-0.5 h-8 bg-tertiary"></div>
				{% else %}
					<a href="{% url 'app:subscription' %}" class="text-xl font-medium">Subscriptions</a>
					<div class="w-0.5 h-8 bg-tertiary"></div>
				{% endif %}
			{% endif %}

			{% if request.GET.role == 'label' or request.GET.role == 'artist' %}
				<a href="#" class="text-xl font-medium">Royalty</a>
				<div class="w-0.5 h-8 bg-tertiary"></div>
			{% endif %}

			{% if request.GET.role == 'premium' %}
				<a href="#" class="text-xl font-medium">Downloaded</a>
				<div class="w-0.5 h-8 bg-tertiary"></div>
			{% endif %}

			<a href="#" class="text-xl font-medium">Logout</a>
		</div>

		<div class="flex items-center space-x-4">
			<input type="text" placeholder="Search..." class="bg-neutral-500 px-4 py-2 rounded-lg text-white border-none focus:outline-none focus:ring-0 focus:border-none focus:shadow-none placeholder-neutral-400" />
		</div>
	</div>
</div>
