{% load static %}

<div class="flex items-center space-x-4 mb-8">
	<div class="w-16 aspect-square rounded-xl border-2 border-tertiary bg-white flex items-center justify-center custom-shadow-sm">
		<img src="{% static 'images/logo.png' %}" alt="logo" class="w-10" />
	</div>
	<h2 class="text-2xl font-medium">Hi, Raquel!</h2>
</div>

<div class="bg-secondary rounded-xl px-8 py-12 font-medium flex flex-col space-y-4 custom-shadow">
	<div class="flex items-end space-x-4">
		<h3 class="whitespace-nowrap">Name</h3>
		<div class="w-full h-px bg-neutral-900"></div>
		<h3 class="whitespace-nowrap">Raquel</h3>
	</div>

	<div class="flex items-end space-x-4">
		<h3 class="whitespace-nowrap">Email</h3>
		<div class="w-full h-px bg-neutral-900"></div>
		<h3 class="whitespace-nowrap">raquel@gmail.com</h3>
	</div>

	<div class="flex items-end space-x-4">
		<h3 class="whitespace-nowrap">Domicile</h3>
		<div class="w-full h-px bg-neutral-900"></div>
		<h3 class="whitespace-nowrap">Paris</h3>
	</div>

	<div class="flex items-end space-x-4">
		<h3 class="whitespace-nowrap">Gender</h3>
		<div class="w-full h-px bg-neutral-900"></div>
		<h3 class="whitespace-nowrap">Female</h3>
	</div>

	<div class="flex items-end space-x-4">
		<h3 class="whitespace-nowrap">Birth Place</h3>
		<div class="w-full h-px bg-neutral-900"></div>
		<h3 class="whitespace-nowrap">France</h3>
	</div>

	<div class="flex items-end space-x-4">
		<h3 class="whitespace-nowrap">Date of Birth</h3>
		<div class="w-full h-px bg-neutral-900"></div>
		<h3 class="whitespace-nowrap">1990-01-01</h3>
	</div>

	<div class="flex items-end space-x-4">
		<h3 class="whitespace-nowrap">Role</h3>
		<div class="w-full h-px bg-neutral-900"></div>
		<h3 class="whitespace-nowrap">User</h3>
	</div>
</div>
