<!DOCTYPE html>
{% load static %}

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			{% block title %}
				Django Marmut
			{% endblock %}
		</title>

		{% comment %}google fonts{% endcomment %}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap" rel="stylesheet" />

		{% comment %}tailwind.css{% endcomment %}
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<script type="text/javascript" src="{% static 'js/index.js' %}" defer></script>
	</head>

	<body class="bg-white text-neutral-900 antialiased leading-5 antialiased font-serif min-h-screen">
		<nav class="mb-6">
			{% include 'partials/navbar.html' %}
		</nav>

		<main class="w-content">
			{% block content %}

			{% endblock %}
		</main>
	</body>
</html>
